body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-bg-color: #2f4f4f;
  --secondary-bg-color: #7c0d0e;
  --main-bg-text-color: #f5fffa;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #f5fffa;
}

#header-main {
  height: 75px;
  padding: 8px 0;
  background-color: var(--main-bg-color);
}

/* repositions and styles the top heading */
header h1 {
  display: inline-block;
  font-size: 36px;
  padding: 3px 15px 3px 20px;
  color: var(--main-bg-text-color);
  background-color: var(--secondary-bg-color);
  border: solid var(--main-bg-text-color) 3px;
  border-left: none;
  border-radius: 0 12px 12px 0;
}

nav {
  text-align: center;
  width: 100%;
  float: left;
  font-size: 20px;
  background-color: var(--main-bg-color);
  border-bottom: solid black 1px;
  padding-bottom: 1px;
  padding-left: 16px;
}

nav ul {
  float: left;
  border-bottom: 0 !important;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: var(--main-bg-text-color);
  text-decoration: none;
}

#hero {
  height: 75px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../../images/roman-serdyuk-DL9Wz4YDa2s-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: solid #000000 1px;
}

/* this code repositions and styles the heading that's layered over the hero image */
figure section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  padding: 6px 20px 0 10px;
  color: var(--main-bg-text-color);
  border: solid var(--main-bg-text-color) 3px;
  border-right: none;
  border-radius: 12px 0 0 12px;
}

figure section h2 {
  font-size: 18px;
}

/* decided to make a breakpoint for this because the subtitle was a little too long for smaller resolutions */
@media only screen and (min-width: 400px) {
  figure section h2 {
    font-size: 24px;
  }
}

/* used the calc function with width to produce a margin that looks decent through multiple breakpoints */
.container {
  margin: 10px 20px 20px 20px;
  width: calc(100% - 40px);
}

.content-header {
  border-bottom: solid #08094d 4px;
  font-size: 24px;
  color: #08094d;
}

.content-section {
  margin-top: 15px;
}

/* this code enables the p element to wrap around the image */
#about-me article p {
  text-align: justify;
  margin: auto 0 auto 0;
  color: #08094d;
}

#img-self {
  box-sizing: content-box;
  display: inline-block;
  border: solid 3px #08094d;
  height: 150px;
  background-color: #08094d;
  margin-left: 10px;
  outline: 0;
  float: right;
}

/* used the flex display property to help arrange my work cards */
#work-card-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
}

/* used calc in my flex basis with margin in a later element to produce equal space between all the work cards*/
.work-card {
  flex: 0 0 calc(50% - 5px);
  position: relative;
  background-color: #08094d;
}

.big-card {
  flex: 0 0 100%;
}

/* hover pseudo-class used to darken the work cards on hover */
.work-card a:hover {
  filter: brightness(50%);
  transition: all 0.5s ease;
}

.work-card img {
  border: solid 4px #08094d;
  outline: 0;
  border-bottom-width: 2px;
  background-color: #08094d;
  max-width: 100%;
  max-height: 100%;
}

/* this spaces the work cards from each other */
.small-card {
  margin-top: 10px;
}

/* repositions and styles the headings to layer them on top of the cards */

.deployed-link {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.deployed-link h3 {
  position: absolute;
  top: 15%;
  padding: 5px;
  background-color: #08094d;
  color: var(--main-bg-text-color);
  font-size: 12px;
  padding-left: 7px;
}

.repo-link {
  position: absolute;
  bottom: 15%;
  right: 0;
  padding: 5px;
  background-color: #08094d;
  color: var(--main-bg-text-color);
  box-sizing: border-box;
}

.repo-link h4 {
  font-size: 10px;
  padding: 2px;
  padding-right: 4px;
}

.big-card h3 {
  padding: 8px;
  font-size: 15px;
}

.big-card h4 {
  padding: 3px;
  font-size: 12px;
}

address ul li {
  text-align: left;
  display: block;
  margin: 4px 4px 8px 4px;
}

address ul li a {
  color: #08094d;
  text-decoration: none;
  border-bottom: solid #08094d 3px;
}

footer {
  margin-top: 10px;
  text-align: center;
  color: var(--main-bg-text-color);
  background-color: var(--main-bg-color);
  padding: 20px;
}

@media only screen and (min-width: 769px) {
  /* increased size of header to reflect a larger viewport */
  #header-main {
    height: 85px;
  }

  /* increase font size to reflect larger viewport */
  header h1 {
    font-size: 48px;
  }
  /* hides the nav bar background */
  nav {
    height: 0;
  }

  address ul li {
    text-align: center;
    display: inline-block;
    margin: 4px 4px 5px 4px;
  }

  /* repositions the nav bar in the header to help fill the space created by a wider viewport */
  nav ul {
    font-size: 28px;
    position: absolute;
    top: 29px;
    right: 20px;
  }

  /* height increase due to higher resolution */
  #hero {
    height: 125px;
  }

  /* size increase due to higher resolution */
  figure section h2 {
    font-size: 36px;
  }

  /* these next few blocks rearrange the headings of the content to the left side and formats them to reflect that */
  .container {
    display: flex;
    justify-content: space-between;
  }

  .content-header {
    flex: 0 0 19%;
    border-bottom: none;
    border-right: solid #08094d 4px;
  }

  .content-header h2 {
    font-size: 32px;
    text-align: end;
    margin-right: 15px;
  }

  .content-section {
    flex: 0 0 79%;
    margin-bottom: 15px;
  }

  /* increased font size due to higher resolution in this breakpoint */
  #about-me article p {
    font-size: 20px;
  }

  .work-card h3 {
    font-size: 25px;
  }

  .big-card h3 {
    font-size: 36px;
  }
  .work-card h4 {
    font-size: 20px;
  }

  .big-card h4 {
    font-size: 30px;
  }
  /* changed space between cards to reflect the increase in resolution */
  .work-card {
    flex: 0 0 calc(50% - 10px);
  }

  /* set this again, as the .work-card code block immediately above this overrides the prior rule */
  .big-card {
    flex: 0 0 100%;
  }

  /* changed space between cards to reflect the increase in resolution */
  .small-card {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  nav ul li a {
    font-size: 60% !important;
    padding: 7px 6px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1099px) {
  nav ul li a {
    font-size: 70% !important;
    padding: 13px 7px 13px 7px !important;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299){
  nav ul li a {
    font-size: 100% !important;
    padding: 7px 7px 6px 7px !important;
  }
  nav ul li {
    margin: 0 1px;
  }
}
@media only screen and (min-width: 1100px) {
    nav ul li a {
    font-size: 100% !important;
    padding: 7px 10px 6px 10px !important;
  }
  nav ul li {
    margin: 0 1px;
  }
}